/PraticaHeranca3/nbproject/private/
/PraticaHeranca3/build/
/PraticaHeranca3/dist/
/Pratica03/nbproject/private/
/Pratica03/build/
/AulaVetor/nbproject/private/
/AulaVetor/build/
/AulaVetor/dist/
/Pratica04/nbproject/private/
/Pratica04/build/
/Pratica04/dist/
/JavaProva/nbproject/private/
/JavaProva/build/
/Proj_Pedido/nbproject/private/
/Proj_Pedido/dist/
/Proj_Pedido/build/
/Proj_E-commerce/nbproject/private/
/Proj_E-commerce/Proj_E-Commerce/nbproject/private/
/Proj_E-commerce/Pratica05/nbproject/private/
/Proj_E-commerce/Separator/nbproject/private/
/Proj_E-commerce/Separator/build/
/Proj_E-commerce/MyBot/nbproject/private/
/Proj_E-commerce/MyBot/build/
/Separator/build/
/Separator/dist/
/Proj_E-commerce/FileTwo/nbproject/private/
/Proj_E-commerce/ClassMathAula/nbproject/private/
/Proj_E-commerce/ClassMathAula/build/
