/PraticaHeranca3/nbproject/private/
/PraticaHeranca3/build/
/PraticaHeranca3/dist/
/Pratica03/nbproject/private/
/Pratica03/build/
/AulaVetor/nbproject/private/
/AulaVetor/build/
/AulaVetor/dist/
/Pratica04/nbproject/private/
/Pratica04/build/
/Pratica04/dist/
/JavaProva/nbproject/private/
/JavaProva/build/
